* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: aqua;
}
.contenedor {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}

.main{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cargar-player,#pantalla{
  margin: 5px;
border: 0.5px solid black;
padding: 15px;
border-radius: 5px;
}
.cargar-player h1{
  text-align: center;
  margin-bottom: 30px;
}

.cargar-player label{
  display: block;
}

#pantalla h2{
  text-align: center;
}

.lista-player{
  height: 95%;
  margin-top: 15px;
  border: 0.5px solid black;
  border-radius: 5px;
}

.lista-player li{
  list-style: none;
}

.form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form label, input,button {
  padding-bottom: 8px;
}

.form label,input,button{
  margin: 3px;

}

.form label,input,button{
  font-size: 20px;
}

h1{
  font-size: 35px;
}

.form button{
  text-align: center;
  align-self: center;
  border-radius: 3px;
  width: 150px;
  height: 80px;
  transition: all 1000ms ease;
}

.form button:hover{
  background-color: #1B6FFF;
  color: white;
}

.ganadores{
  border: solid .3px black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.ganadores h2{ 
  text-align: center;
  padding-top: 7px;
  justify-self: flex-start;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}

/* Loader */

.lds-spinner {
  color: official;
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


